body{
	font-family: 'Lato', sans-serif;
	background-image: url("https://orig00.deviantart.net/e43b/f/2010/013/c/f/graph_paper_by_rawen713.jpg");
	margin-left: 30px;
}

h1{
	color: blue;
	font-size: 40px;
}

h2{
	color: red;
	font-size: 35px;
}


.question {
	font-size: 30px;
}

/*.questions-panel {
	display: none;
}

.results-panel {
	display: none;
}

.js-panel-open {
	display: block;
}*/

/*.timer-panel {
	display: none;
}*/